
.contains-task-list LI {
    list-style-type:none;
}

.red {
    background-color: #88222;
}

.redblockquote blockquote { 
    background: #ff000036; 
    color: black; 
    border-color: red; 
    padding-top: 1px 
}